* {
  margin: 0;
}

.accordion {
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: blue;
  max-width: 30vw;
}
.accordion-label,
.accordion-image {
  padding: 14px 20px;
}
.accordion-label {
  background-color: whitesmoke;
  border-radius: 3px;
  border: 2px solid;
  border-style: ridge none none none;
  border-color: black;
  display: block;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
  font-size: 0.85em;
}
.accordion-label:hover {
  background: rgba(0, 0, bl0ue, 0.1);
}
.accordion-image {
  
  line-height: 1.6;
background: white;
display: none;
}
img{
  display: flex;
margin: 0 auto;
width: 80%;
max-height: 50vh;
}
.accordion-label:hover {
  background: rgba(0, 0, bl0ue, 0.1);
}
.accordion-label::after {
  content: "";
  position: absolute;
  top: 50%;
  display: none;
  right: 20px;
  width: 1vw;
  height: 6px;
  background-image: url('x-symbol-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(50%) rotate(0.12turn);
}

.accordion-input {
  display: none;
}

.accordion-input:checked ~ .accordion-image {
  display: block;

}
.accordion-input:checked ~ .accordion-label {
  display: block;
color: black;
}
.accordion-input:active ~ .accordion-label:active {

color: blue;
}
.accordion-input:hover ~ .accordion-image {
    display: block;
  }
  .accordion-input:hover ~ .accordion-label::after {
    display: block;
    transform: translateY(-50%);
    transition: transform 0.4s;
  }
  .accordion:hover .accordion-label{
    color: black;
  }
  .accordion:hover .accordion-label::after{
    display: block;
    
 
  }
  .accordion-input:checked ~ .accordion-label::after {
    transform: translateY(-50%);
    transition: transform 0.4s;

  }