* {
  margin: 0;
}

.accordion {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: blue;
  max-width: 30vw;
}
.accordion-label,
.accordion-image {
  padding: 14px 20px;
}
.accordion-label {
  background-color: whitesmoke;
  border-radius: 3px;
  border: 2px solid;
  border-style: ridge none none none;
  border-color: black;
  display: block;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
  font-size: 0.85em;
}
.accordion-label:hover {
  background: rgba(0, 0, bl0ue, 0.1);
}
.accordion-image {
  line-height: 1.6;
background: white;
display: none;
}
img{
width: 100%;
height: auto;
}